<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article),
        class: 'article_title', id: "article_#{article.id}" %>
    </li>
    <% end %>
</ul>
<% if logged_in? %>
  <%= link_to "Tags", tags_path, class: "tags_tags new_article"%>
  <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>